body {
  background-color: #1c232d;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: #111b25;
  border-radius: 12px;
  box-shadow: 0 0 10px #00ff88;
  text-align: center;
}

h1 {
  color: #00d870;
  margin-bottom: 25px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 14px;
  font-size: 1.1rem;
  border: 2px solid #00d870;
  border-radius: 10px;
  outline: none;
  background-color: #2a2f38;
  color: white;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
}

.sugerencias {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.sugerencias div {
  background-color: #2a2f38;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #00d870;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sugerencias div:hover {
  background-color: #00d870;
  color: #1c232d;
}

.detalle-producto {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #00ff88;
  border-radius: 10px;
  background-color: #222c36;
}


